.CurrentOrders--DropdownContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  min-width: 900px;
  margin: 20px auto;
  overflow: auto;
  min-height: 50px;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
}

.CurrentOrders--DropdownTitle {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 900px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.CurrentOrderItem--fdCurrentOrderInfoWrapper {
  display: flex;
}

.CurrentOrderItem--fdInfoItem {
  display: flex;
  margin-left: 10px;
}

.CurrentOrderItem--fdAInfoItemText {
  margin-left: 10px;
}

.CurrentOrderItem--buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CurrentOrderItem--confirmButton {
  background-color: #dbebe7;
  color: darkgreen;
  border: 1px;
  border-radius: 5px;
  border-color: teal;
  padding: 5px 15px;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  font-family: inherit;
  margin: auto 5em;
}

.CurrentOrderItem--confirmButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 128, 128, 0.1);
  /* Lowering the shadow */
}
