/* Driver Page */
/* Only in app.js"
.body {
    position: relative;
    width: 1436px;
    height: 1259px;
    
    background: #FFFFFF;
    } */

/* Couldn't Pick-up */
/*  Driver--CouldntPickUp instead of CouldntPickUp*/
.CouldntPickUp {
  position: absolute;
  width: 130px;
  height: 72px;
  left: 394px;
  top: 968px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Report Status */
.Report {
  position: absolute;
  width: 130px;
  height: 72px;
  left: 237px;
  top: 967px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* User-Card */
.UserCard {
  position: absolute;
  width: 1236px;
  height: 952px;
  left: 117px;
  top: 154px;
}

/* Location */
.Location {
  position: absolute;
  width: 1115.58px;
  height: 49.53px;
  left: 177.21px;
  top: 522.48px;
}

/* Orders */
.Orders {
  position: absolute;
  width: 1115.58px;
  height: 574.31px;
  left: 177.21px;
  top: 584.1px;
}

/* Account Settings */
.AccountSettings {
  position: absolute;
  width: 1115.58px;
  height: 49.53px;
  left: 177.21px;
  top: 460.86px;
}
