.securityCode {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*center the mid card*/
.securityCode--mid {
  position: absolute;
  top: 50%;
  left: 49.47%;
  transform: translate(-50%, -50%);
}

/*white box*/
.securityCode--formBox {
  background: rgb(255, 255, 255);
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 150px;
}

/* small header */
.securityCode--formBox h4 {
  margin: 20px 10px 23px 10px;
}

/* Text box */
.securityCode--formBox input {
  width: 75%;
  height: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* verification button */
.securityCode--verificationButton {
  width: 50%;
  margin-bottom: 8%;
  font-size: 1.2rem;
  /* background-color: #18a368; */
  background-color: var(--pageButton-color);
  color: #fff;
  padding: 10px;
  -ms-transform: translateX(-50%);
  transform: translateX(0%);
}

.securityCode--verificationButton:hover {
  /* color: #18a368; */
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.securityCode--img {
  position: absolute;
  opacity: 56.4%;
  top: 50%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 50rem;
  height: 600px;
  box-shadow: 10px 10px 6px gray;
}
