.location {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.location_formBox {
  background: rgb(255, 255, 255);
  width: 100%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 1rem;
  position: relative;
  right: 10px;
  color: rgb(#074518);
}

.image {
  position: relative;
  width: 25em;
}

.location_img {
  position: relative;
  transform: translate(-20%, -3%);
  width: 168%;

}
