.signIn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn--mid {
  position: absolute;
  top: 50%;
  left: 49.47%;
  transform: translate(-50%, -50%);
}

.signIn--welcomeH1 h1 {
  font-size: 1.4rem;
  position: relative;
  right: 10px;
  color: rgb(#074518);
}

/* .signIn--loginError {
  display: inline;
} */

.signIn--formBox {
  background: rgb(255, 255, 255);
  width: 375px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn--formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.signIn--formBox h4 {
  margin: 20px 10px 23px 10px;
}

.signIn--formBox input {
  width: 100%;
  height: 26px;
}

.signIn--forgotPassword {
  font-size: 0.7rem;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.signIn--row1Button {
  margin: 6% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.signIn--signInButton {
  width: 95%;
  margin-right: 10%;
  font-size: 1.2rem;
  /* background-color: #18a368; */
  background-color: var(--pageButton-color);
  color: #fff;
}
.signIn--signInButton:hover {
  /* color: #0d8a56; */
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.signIn--signUpnButton {
  width: 95%;
  font-size: 1.2rem;
  /* background-color: #18a368; */
  background-color: var(--pageButton-color);
  color: #fff;
}
.signIn--signUpnButton:hover {
  /* color: #18a368; */
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.signIn--continueButton {
  width: 100%;
  margin-bottom: 8%;
  font-size: 1.2rem;
  /* background-color: #18a368; */
  background-color: var(--pageButton-color);
  color: #fff;
}

.signIn--continueButton:hover {
  /* color: #18a368; */
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.signIn--img {
  position: absolute;
  /* opacity: 56.4%; */
  opacity: 0.564;
  top: 50%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  z-index: -2;
  /* width: 900px; */
  width: 50rem;
  height: 600px;
  box-shadow: 10px 10px 6px gray;
}

@media all and (max-width: 900px) {
  .signIn--img {
    position: relative;
    top: 20em;
    height: 50em;
    width: 95vw;
  }

  .signIn--mid {
    margin-top: 150px;
    top: 50%;
    left: 49.47%;
    transform: translate(-50%, -50%);
  }
}
