.payment {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.payment--mid {
  display: flex;
  flex-direction: row;

  padding: 30px;
}

.payment--mid-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 30px;
}

.payment h1 {
  font-family: "Arial Rounded MT";
  font-size: 1.3rem;
  padding: 0px 20px;
}
.payment label {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 700;
}

/* .payment input {
  width: 100%;
  padding: 4px 2px;
  margin: 3px 0;
  border: 0.5px solid black;
  box-sizing: border-box;
  display: block;
} */

.payment--label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  padding: 4px 2px;
}

.payment--inputRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 5px;
}

.payment--scheduleSplit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.payment--columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 30px 20px 30px;
}

.payment--radioOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.payment--radioInput {
  border: 0.5px solid black;
}

.payment--boxInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 5px;
}

.payment--formBox {
  background: rgb(255, 255, 255);
  width: 700px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px;
  border: 1px solid black;
}

.payment--formBox textarea {
  width: 40em;
}

.payment--pickup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5px 5px;
}

.payment--img {
  position: fixed;
  /* opacity: 56.4%; */
  opacity: 0.564;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 6px gray;
  border: 1.5px solid black;
}

.payment--button {
  background-color: var(--pageButton-color);
  padding: 5px 10px;
  margin-bottom: 8%;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1.5px solid black;
  color: white;
  border-radius: 10px;
}

.payment--buttonDisabled {
  background-color: #a7c5ac;
  padding: 5px 10px;
  margin-bottom: 8%;
  font-size: 1.2rem;
  border: 1.5px solid black;
  color: white;
  border-radius: 10px;
}

.payment--button:hover {
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.payment--confirmLabels {
  display: flex;
  justify-content: space-between;

  margin: 10px 25px;
}

.payment--confirmLabels2 {
  display: flex;
  justify-content: space-between;

  margin: 10px 20px;
}

.payment--confirmFormBox {
  background: white;
  width: 250px;
  border-radius: 10px;
  margin: 25px;
  border: 1px solid black;
}

.payment--confirmBoxContainer {
  position: sticky;
  top: 0;
}

.payment--paypalFormBox {
  background: white;
  width: 400px;
  margin: 30px;
}

.payment--paypalFormBoxContainer {
  background: white;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px;
  border: 1px solid black;
}
