/* body {
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
*/
/*  name it User--header*/
/* .header {
  background-color: darkgreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  margin-bottom: 20px;
} */
.formContainer {
  background-color: #dbebe7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  margin: 70px auto;
  overflow: auto;
  min-height: 400px;
  border: 1px solid green;
  padding: 30px;
  padding-bottom: 120px;
  border-radius: 5px;
}
.formUser {
  background-color: #93d50a;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.formUserText {
  color: var(--main-color);
  font-family: "Arial Rounded MT";
  font-size: large;
}
