nav {
  height: 100px;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 0.4fr 2.5fr 0.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Nav--Recyclones Nav--middle nav--topRightCorner";
}

.Nav--Recyclones {
  padding-left: 5px;
}

.Nav--middle {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr;
  grid-template-areas: "nav-links";
  grid-template-areas: "Nav--RecyclonesFull";
}

.nav-links {
  width: 46%;
  margin-left: 22%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  top: -15px;
}

.nav--hamicon {
  display: none;
}

.nav--linksHamburgerMenu {
  display: none;
}

.nav--logoutButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: white;
}

.nav--topRightCornerLogout {
  position: relative;
  top: 30px;
}

.nav--whiteCorner {
  /* background-color: aliceblue;
  display: flex; */
  display: none;
}

.nav--space {
  display: none;
}

@media all and (max-width: 970px) {
  .nav-links {
    display: none;
  }
  .nav--topRightCornerLogout {
    display: none;
  }

  .nav--whiteCorner {
    display: none;
  }
  .Nav--Recyclones {
    display: none;
  }

  nav {
    height: 67px;
    grid-template-rows: 0.4fr;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-areas: "Nav--RecyclonesFull nav--space nav--topRightCorner";
  }

  .nav--space {
    display: block;
  }

  .Nav--RecyclonesFull {
    margin-left: 5%;
  }

  .nav--hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav--hamicon {
    display: block;
    position: relative;
    height: 3em;
    width: 3em;
    color: white;
    /* left: 20%; */
    right: -110%;
    /* right: -150%; */
    top: 7px;
  }

  .nav--linksHamburgerMenu {
    position: absolute;
    /* position: relative; */
    top: 50px;
    right: 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--pageButton-color);
    list-style: none;
    text-decoration: none;
    z-index: 2;
    padding: 0px 20px 10px 20px;
    border-radius: 0px 0px 10px 10px;
  }

  .nav--hamLines {
    border-bottom: 1px solid #fff;
  }
  .nav--linksHamburgerMenu > ul {
    color: black;
  }

  @media all and (max-width: 460px) {
    .nav--hamicon {
      display: block;
      position: relative;
      height: 3em;
      width: 3em;
      color: white;
      /* left: 20%; */
      right: -180%;
      /* right: -150%; */
      top: 7px;
    }
  }
}
