.fdContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    margin: 20px auto;
    overflow: auto;
    min-height: 50px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
}

.fdTitle {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    min-width: 1000px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.fdTitleButton {
    background-color: white;
}
.fdTitleText {
    font-family: 'Arial Rounded MT';
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color);
}

.fdContentContainer {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    min-width: 1000px;
    margin-top: 10px;
}

.fdLeftContent {
    background-color: white;
    display: flex;
    align-items:flex-start;
}
.fdRightContent {
    background-color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.fdList {
    list-style-type: none;
}
.fdListItem {
    background-color: white;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding-left: 25px;
}
.fdTextLabel {
    background-color: white;
    margin-right: 10px
}
.fdTextData {
    background-color: white;
}

.fdCalendarContainer {
    background-color: white;
    margin: 10px;
    padding-right: 25px;

}
.fdButtonsContainer {
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.fdButton {
    background-color: #93d50a;
    border: 1px solid green;
    border-radius: 5px;
    border-color: teal;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: inherit;
}
.fdButtonText {
    color: darkgreen;
    font-size: medium;
}

.fdAccountContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    padding: 10px;
    margin-left: 40px;
}
.fdTitleBar {
    background-color: #DBEBE7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 10px;
    font-weight: bold;
}
.fdAccountInfoWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    padding-left: 20px;
    border: 1px solid #EEEEEE
}
.fdAccountInfoItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fdAccountInfoItemText {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.fdAccountInfoItemChanged {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
}
.fdAccountInfoItemChangedText {
    background-color: white;
    margin-left: 10px;
}
.fdAccountInfoItemChangedInput {
    background-color: white;
    color: darkgreen;
    font-size: small;
    border-style: 'solid';
    border-width: 1;
    border-color: 'green';
    border-radius: 2;
    min-height: 20px;
    margin-left: 10px;
}
.fdAccountInfoItemChangedBtn {
    background-color: white;
    margin-left: 10px;
}
.fdAccountInfoItemChangedInstructions {
    background-color: white;
    align-self: flex-start;
    margin-left: 25px;
    font-size: small;
    color: darkgreen;
}
.fdButton2 {
    background-color: #DBEBE7;
    border: 1px;
    border-radius: 5px;
    border-color: teal;
    padding: 5px 15px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: inherit;
}
.fdButtonText2 {
    color: darkgreen;
    font-size: medium;
}

.orderDropdownContainer {
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 900px;
    margin: 20px auto;
    overflow: auto;
    min-height: 50px;
}
.orderDropdownTitle {
    background-color: #DBEBE7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    min-width: 900px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
.orderDropdownTitleText {
    font-family: 'Arial Rounded MT';
    font-size: 15px;
    font-weight: bold;
}
.orderDropdownItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    min-width: 900px;
    padding: 10px;
}
.orderDropdownTitleTextComplete {
    font-family: 'Arial Rounded MT';
    font-size: 15px;
    color: green;
}
.orderDropdownInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    padding-left: 0px;
}

.upcomingPickupsItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-width: 900px;
    padding: 10px;
    margin-left: 10px;
}
.upcomingPickupsTitleTextPending {
    font-family: 'Arial Rounded MT';
    font-size: 15px;
    color: yellow;
}
.upcomingPickupsInfoWrapper {
    display: flex;
    padding: 30px;
    padding-left: 0px;
}
.upcomingPickupsCalendarWrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: flex-end;
    padding-top: 40px;
    padding-left: 40px;
}
.upcomingPickupsButtonsContainer {
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 50px;
}
.upcomingPickupsDateTimeItem {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.upcomingPickupsDateTimeWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.upcomingPickupsDateTimeInstructions {
    background-color: white;
    align-self: flex-start;
    margin-left: 10px;
    font-size: small;
    color: darkgreen;
}
.upcomingPickupsButtonsContainer {
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
.upcomingPickupsButton1 {
    background-color: #93d50a;
    border: 1px solid green;
    border-radius: 5px;
    border-color: teal;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: inherit;
}
.upcomingPickupsButton2 {
    background-color: #93d50a;
    border: 1px solid green;
    border-radius: 5px;
    border-color: teal;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-family: inherit;
}
.upcomingPickupsResponse {
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-left: 120px;
    padding-top: 20px;
}