footer {
  background-color: var(--main-color);
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.info {
  width: auto;
}

.copyright {
  margin: 10%;
}

@media all and (max-width: 900px) {
  footer {
    height: 160px;
    overflow: none;
    flex-shrink: 95vw;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: none;
    /* margin-top: none; */
  }
  .copyright {
    margin: 4%;
  }
}
