.signUp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp--mid {
  position: absolute;
  top: 50%;
  left: 49.47%;
  transform: translate(-50%, -50%);
}

.signUp--welcomeH1 h1 {
  font-size: 1.4rem;
  position: relative;
  right: 10px;
  color: rgb(#074518);
}

.signUp--formBox {
  background: rgb(255, 255, 255);
  width: 375px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUp--formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.signUp--rowInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.signUp--state {
  float: left;
  text-align: left;
  margin-right: 9px;
}

.signUp--zipcode {
  float: left;
  text-align: left;
  margin-left: 9px;
}

.signUp--formBox h4 {
  margin: 20px 10px 23px 10px;
}

.signUp--formBox input {
  width: 100%;
  height: 26px;
}

.signUp--row1Button {
  margin: 6% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.signUp--signUpButton {
  width: 95%;
  font-size: 1.2rem;
  /* background-color: #18a368; */
  background-color: var(--pageButton-color);
  color: #fff;
}
.signUp--signUpButton:hover {
  /* color: #18a368; */
  color: var(--pageButton-color);
  background: white;
  transition: 0.3s;
}

.signUp--img {
  position: absolute;
  /* opacity: 56.4%; */
  opacity: 0.564;
  top: 50%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  z-index: -2;
  /* width: 900px; */
  width: 50rem;
  height: 600px;
  box-shadow: 10px 10px 6px gray;
}

@media all and (max-width: 900px) {
  .signUp--img {
    position: relative;
    top: 20em;
    height: 50em;
    width: 95vw;
  }

  .signUp--mid {
    margin-top: 150px;
    top: 50%;
    left: 49.47%;
    transform: translate(-50%, -50%);
  }
}
