/* Theme color: Hex: 026928 or rgb(2, 105, 40)*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  text-align: center;
  /* --main-color: rgb(2, 47, 19); */
  --main-color: rgb(2, 105, 40);
  --main-darkTheme-color: rgb(2, 47, 19);
  /* --pageButton-color: #18a368;  */
  --pageButton-color: rgb(24, 163, 104);
  --AdButton--color: #3bb077;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
/* Nav */

/* Nav End*/

/* Footer */

/* Footer end */

@media all and (max-width: 900px) {
  .SignIn {
    height: 400px;
  }
  footer {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -2;
  }
  .box {
    z-index: 1;
  }

  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .copyright {
    margin-top: 0;
  }
}
