.admin--ordersEditButton {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--AdButton--color);
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}
