.AdminModify--wrapper {
  /* padding: 20px; */
}

.AdminModify--userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.AdminModify--userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: var(--AdButton--color);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
